<div class="modal-backdrop" (click)="onBackdropClick($event)">
  <div class="modal-panel">

    <!-- Header -->
    <div class="modal-header">
      <div class="modal-header-left">
        <div class="modal-date">{{ date }}</div>
        <h2 class="modal-title">
          <ng-content select="[modal-title]"></ng-content>
        </h2>
      </div>
      <div class="modal-header-right">
        <div class="modal-techs">
          <ng-content select="[modal-techs]"></ng-content>
        </div>
        <button class="modal-close" (click)="close()">✕</button>
      </div>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>

  </div>
</div>